body{
    background-image: url(https://c.wallhere.com/photos/42/34/1920x1200_px_landscape-708099.jpg!d);
   
    
}

div{
    display: inline-block;

}
img{
    border: 5px solid black;
}
#div1{
    margin-left: 270px;
    margin-top: 25px;
}
h1{
    color: black;
}